.botao {
    display: inline-block;
    padding: 0.8em 1.5em;
    font-size: 16px;
    font-weight: 600;
    color: var(--offwhite);
    background-color: var(--verde-destaque);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: var(--verde-destaque-hover);
}

.botao:disabled {
    background-color: var(--cinza-claro);
    cursor: not-allowed;
}